/* Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Global styles */
html, body { 
  height: 100%; 
  margin: 0; 
  font-family: 'Roboto', sans-serif;
}
